.container {
    max-width: 100%;
}

nav.navbar {
    background-color: rgba(2, 200, 2, 0.2);
}

div.menu-item  {
    background-color: cornsilk;
    border: white 0.3em solid;
    border-radius: 3rem;
    font-family: cursive;
}
#footer {
    display: block;
}
.chicken-icon {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}
.beef-icon {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}
.sushi-icon {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}